###> symfony/framework-bundle ###
app/.env
app/public/bundles/
app/var/
app/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
app/.phpunit
app/phpunit.xml
###< symfony/phpunit-bridge ###
.idea/

docker-compose.override.yml
app/build/
